<h2><%= link_to "Volver a Home", "/" %></h2>
<h2><%= link_to "Volver a Pages/Info", "/pages/info" %></h2>
<h2>Pagina de Prueba, multiples errores</h2>
<section>
    <ul style="height:2200px; border:1px solid black; background:black; list-style: upper-roman inside;  ">

        <li style=" width:400px; border:1px solid pink; border-radius: 25px; text-align:center"> 
            <img src="https://picsum.photos/id/1/100/200x" alt="">
        </li>
            
        <li style=" width:400px; border:1px solid red; border-radius: 25px; text-align:center"> 
            <img src="https://picsum.photos/id/175/100/200x" alt="">
        </li>

        <li style=" width:400px; border:1px solid orange; border-radius: 25px; text-align:center"> 
            <img src="https://picsum.photos/id/195/100/200x" alt="">
        </li>

        <li style=" width:400px; border:1px solid yellow; border-radius: 25px; text-align:center"> 
            <img src="https://picsum.photos/id/143/100/200x" alt="">
        </li>

        <li style=" width:400px; border:1px solid grey; border-radius: 25px; text-align:center"> 
            <img src="https://picsum.photos/id/132/100/200x" alt="">
        </li>

    </ul>
</section>

