<h1>Controlador > Pages#info</h1>
<h2>>Acaso el recurso hidrico se agota, o solo es desinformacion mediatica?</h2>

<p style="color:#666f88">
<b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. 
<b>Lorem Ipsum</b> En la actualidad, la <b>Lorem Ipsum</b>íses ejerce una presión sin precedentes sobre los recursos hídricos. La población mundial crece con rapidez, y las estimaciones muestran que, con las prácticas actuales, para 2030 la diferen<b>Lorem Ipsum</b>40 %. Asimismo, la escasez crónica de agua, la incertidumbre hidrológica y los fenómenos meteorológicos extremos (inundaciones y sequías) se encuentran entre las principales amenazas a la prosperidad y la estabilidad mundiales. Por otro lado, se reconoce cada v<b>Lorem Ipsum</b>los conflictos.

Para alimentar a 10 000 millones de personas en 2050 <b>será necesario au<b>Lorem Ipsum</b>s del mundo. Las estimaciones indican que más del 40 % de la población mundial vive en zonas donde el agua escasea, y aproximadamente una cuarta parte del producto interno bruto mundial está expuesta a este problema. Se prevé que, para 2040, uno de cada cuatro niños vivirá en zonas con escasez de agua extrema (i). En la actualidad, la se<b>Lorem Ipsum</b> países.

El cambio climático <b>Lorem Ipsum</b>, hará más impredecible la dis<b>Lorem Ipsum</b>entará la frecuencia y la intensidad de las inundaciones y sequías. Los aproximadamente 1000 millones de personas que viven en c<b>Lorem Ipsum</b>. Las inundaciones provocan daños por un valor estimado en unos USD 120 000 millones al año (solo en daños a la propiedad), y las sequías impone<b>Lorem Ipsum</b> rurales, cuya subsistencia depende en gran medida de la variabilidad de las precipitaciones.</p>

<p>Find me in app/views/pages/info.html.erb</p>

<button style="background:#a7a7a7"><b><%= link_to "Volver", "/" %></b></button>
<button style="background:#a7a7a7"><b><%= link_to "Ver Otra Galeria", "/pages/index" %></b></button>
